Source: ros-jazzy-qrb-inference-manager
Section: misc
Priority: optional
Maintainer: Na Song <nasong@qti.qualcomm.com>
Build-Depends: debhelper-compat(=13), ros-jazzy-ament-cmake-auto, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common, libtensorflow-lite-c-qcom1, libtensorflow-lite-qcom-dev, libqnn-dev, libqnn1 <!nocheck>
Homepage:
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-inference-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Dependency library of qrb_ros_nn_inference
